<footer data-component="footer-password" data-component-type="section" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="footer-password">
  <section-wrapper>
    <section-content>
      <div class="footer-password__wrapper">
        <div class="footer-password-top">

        </div>
        <div class="footer-password-bottom">
          <div class="footer-password-bottom__wrapper">
            <div class="footer-password-bottom__left">
            </div>
            <div class="footer-password-bottom__right">
              {% assign year = 'now' | date: '%Y' %}
              <span class="footer-password__copyright">
                {{ 'footer.branding.copyright_html' | t: year: year, shop_name: shop.name }}
              </span>
              <span class="footer-password__poweredby">
                {{ powered_by_link }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section-content>
  </section-wrapper>
</footer>
{% schema %}
{
  "name": "t:common.footer.footer"
}
{% endschema %}